.rotate180 {
  transform: rotate(180deg);
}

.bgSBlack {
  background-color: #242424;
}

.hrStrokeL {
  border: 8px solid #ffffff;
}

.hrStroke1 {
  border: 8px solid #ffffff;
  margin: auto;
}

.hrStrokeD {
  border: 8px solid #000000;
}